html ,body{
	height: 100%;
	width: 100%;
	background-color: WHITE;
}

.navbar{
	background-color:#1c354a;
	padding: 1% 0%;
	font-size: 1.2em;
	font-style: bold;
}

.navbar-brand{
	min-height: 55px;
	padding: 0 15px 5px;

}

.navbar-default .navbar-nav li a{
	color : #D5D5D5;
}

.navbar-default .navbar-nav li a:hover{
	color : #FFFFFF;
}

.navbar-default .navbar-nav li a.active{
	color : yellow;
}

#home{
	background:  url(img/home.jpg);
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size :cover;
}

#home button{
	  box-shadow: 10px 10px 5px purple;

}

.landing-text{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.landing-text h1{
	font-size: 500%;
	font-weight: 700;
	
}

.padding1{
	padding: 80px 0;
background-image: linear-gradient(to top, #da7be3, #e49ae9, #ecb8ee, #f3d6f4, #f9f3f9);
}

.padding1 img{
  box-shadow: 10px 10px 5px grey;

}

.padding2{
	padding: 80px 0;
    background-image: linear-gradient(to bottom, #99b3ff, #c0bffb, #dccef8, #eedff7, #f9f3f9);
}


.padding2 img{
	 /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/

}

.padding img{
	width: 100%;
}

#fixed{
	background: url(img/fixed_img.jpg) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size:cover;
}


footer{
	width: 100%;
	background-color: #1c354a;
	padding: 1% 1% 1% 1%;
	color:white;
}

.styling{
	background-color: #d3c3de;
}

.fa{
	padding: 15px;
	font-size: 25px;
	color: white;
}


.fa:hover{
	color: #D5D5D5;
	text-decoration: none;
}

.icon{
	max-width: 200px;
}

@media(max-width: 768px){
	.landing-text h1{
		font-size: 300%;
	}

	.fa{
		font-size: 20px;
		padding: 10px;

	}
	.icon{
		padding-top:5%;
		width: 100px; 
	}



* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}